@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@model ICollection<ENETCare.Business.DistributionCentreLossViewData>

<!--panel-start-->
<div class="panel panel-default">

    <!--panel-heading-start-->
    <div class="panel-heading">
        <h3 class="panel-title">
            Distribution Centre Losses
        </h3>
    </div>
    <!--panel-heading-end-->
    <!--panel-body-start-->
    <div class="panel-body">
        @if (Model.Count > 0)
        {
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <td>DistributionCentre</td>
                        <td>LossValue ($)</td>
                        <td>LossRatio</td>
                        <td>RiskLevel</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var centre in Model)
                    {
                        <tr>
                            <td>
                                @centre.DistributionCentre
                            </td>
                            <td>
                                @centre.LossValue
                            </td>
                            <td>
                                @centre.LossRatio
                            </td>
                            <td>
                                @centre.RiskLevel
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <b>There are no records</b>
        }

        <a class="btn btn-default btn-float-right" href='@Url.Action("index","Manager")'>
            Back to Home
        </a>

    </div>
    <!--panel-body-end-->
</div>
<!--panel-end-->
