@using ENETCare.Business
@model ICollection<MedicationTypeViewData>
@{
    ViewBag.Title = "AgentDoctorViewReport";
    Layout = "~/Views/AgentDoctorCommonFeatures/MasterPage.cshtml";
}

<div class="panel panel-default">
    <!--panel-heading-start-->
    <div class="panel-heading">
        <h3 class="panel-title">Report Table</h3>
    </div>
    <!--panel-heading-end-->
    <!--panel-body-start-->
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Quantity</th>
                    <th>Total Value (AUD)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr>
                        <td>@t.Type</td>
                        <td>@t.Quantity</td>
                        <td>@t.Value</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = t.Type })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p class="text-right"><strong>Grand Total:</strong> @Model.Sum(type => type.Value)</p>

        <a class="btn btn-default btn-float-right" href="managerDistributionCentreStockCentres.html">Back</a>

    </div>
    <!--panel-body-end-->
</div>