@using ENETCare.Presentation.MVC.Models
@model RegisteringViewModel
@{
    Layout = "~/Views/AgentDoctorCommonFeatures/MasterPage.cshtml";
}

<div class="panel panel-default">
    <!--panel-heading-start-->
    <div class="panel-heading">
        <h3 class="panel-title">Register Medication Package</h3>
    </div>
    <!--panel-heading-end-->
@using (Html.BeginForm())
{
    <!--panel-body-start-->
    <div class="panel-body">
        <div class="form-horizontal col-sm-10 col-sm-offset-1">
            @if (Model != null && Model.Result != null)
            {
                <div id="AgentDoctorRegisterPackageAlertWindowDiv" class="alert @Model.Result.AlertStyle" data-dismiss="alert">
                    <label id="AgentDoctorRegisterPackageAlertWindowContentLabel">@Model.Result.Message</label>
                </div>
            }
            <div class="form-group">
                <label id="AgentDoctorPackageRegisterPackageTypeDropDwonListLabel" class="col-xs-3">Medication Type: </label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(x => x.SelectedMedicationType.ID, Model.MedicationTypeSelectList, new { Name = "medicationTypeId", @onchange = "document.getElementById('refresh').click();", @class = "form-control" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <label id="AgentDoctorRegisterFormExpireDateLabel" class="col-xs-3">Expiration Date: </label>
                <div class="col-xs-9">
                    @Html.TextBox("expireDate", @Model.SelectedMedicationType.DefaultExpireDate.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date" })
                </div>
            </div>
            <p>
                &nbsp;
            </p>
            @if (!string.IsNullOrEmpty(Model.Barcode))
            {
                <p>
                    <img src="@Url.Action("BarcodeImage", "AgentDoctorCommonFeatures", new { barcode = @Model.Barcode })" alt="" />
                </p>
            }
            <a class="btn btn-danger btn-float-right btn-margin-left" type="a" href="@Url.Action("AgentDoctorHomePackages", "AgentDoctorCommonFeatures")">Cancel</a>
            <input id="register" type="submit" name="submit" class="btn btn-success btn-float-right" value="Register" />
            <input id="refresh" type="submit" name="submit" value="Refresh" style="display:none" />
        </div>
    </div>
    <!--panel-body-end-->
}
</div>
