@using ENETCare.Business
@model ICollection<StocktakingViewData>
@{
    ViewBag.Title = "AgentDoctorViewReport";
    Layout = "~/Views/AgentDoctorCommonFeatures/MasterPage.cshtml";
}

<style>
tr.Expired > td {
    background-color: #FEA8A8 !important;
}

tr.AboutToExpired > td {
    background-color: #ffd800 !important;
}
</style>

<div class="panel panel-default">
    <!--panel-heading-start-->
    <div class="panel-heading">
        <h3 class="panel-title">Report Table</h3>
    </div>
    <!--panel-heading-end-->
    <!--panel-body-start-->
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Type</th>
                    <th>Expire Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr class="@t.ExpireStatus">
                        <td>@t.Barcode</td>
                        <td>@t.Type</td>
                        <td>@t.ExpireDate</td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-danger btn-float-right btn-margin-left" type="a" href="@Url.Action("AgentDoctorHomePackages", "AgentDoctorCommonFeatures")">Back</a>

    </div>
    <!--panel-body-end-->
</div>